<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bucket To Beak <%= @user.name %></h1>
    <p>
      Once you complete the payment process, you will be fully signed up for our Drop in the Bucket Plan where you can start making a difference in the environment. <br/>
    </p>
    <p>
      If you have any questions, please just send me an email and I should be able to get back to you within 24-48 hours.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
